li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
p{
    margin:0 0
}
.movieList{
    margin:50px 0
}
.movieLi{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.movieImg{
    width: 80px;
    height: 80px;
    padding-right:50px;
}
img{
    width: 100%;
    height: 100%;
}
.movieTitle{
    font-weight: bold;
    font-size: 20px;
    color:#923d3d;
    margin:10px 0;
}
.movieActor{
    float:left;
    font-size: 18px;
    color:rgb(105, 76, 76);
    margin-right:5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}